<div id='container'>
  <div id='form-wrapper'>
    <form data-netlify='true' subject='A Message From Personal Website' name='contact' id='contact-form' method='POST'>
      <p class='form-row'>
        <label>Your Name: </label><input type='text' name='name'/>
      </p>
      <p class='form-row'>
        <label>Email Address: </label><input type='email' name='email'/>
      </p>
      <p class='form-row'>
        <label>A Favorite Work of Art: </label><input type='text' name='art'/>
      </p>
      <p class='form-row'>
        <label>Your Message: </label><textarea id='message' name='message'></textarea>
      </p>
      <p id='button-row'>
        <button id='submit-button' type='submit'>Contact Me!</button>
      </p>
    </form>
    <div id='blank'>
    </div>
  </div>
</div>
