<div id='container'>
  <div id='form-wrapper'>
    <form data-netlify="true" subject='A Message From Personal Website' netlify name="contact" id='contact-form' method="post" action="/thanks/" data-netlify-honeypot="bot-field">
      <input type="hidden" name="form-name" value="contact" />
      <p class='form-row'>
        <label>Your Name: </label><input type='text' name='name'/>
      </p>
      <p class='form-row'>
        <label>Email Address: </label><input type='email' name='email'/>
      </p>
      <p class='form-row'>
        <label>A Favorite Work of Art: </label><input type='text' name='art'/>
      </p>
      <p class='form-row'>
        <label>Your Message: </label><textarea id='message' name='message'></textarea>
      </p>
      <p id='button-row'>
        <button id='submit-button' type='submit'>Contact Me!</button>
      </p>
    </form>
    <form name="contact1" netlify>
  <p>
    <label>Name <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Email <input type="email" name="email" /></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
  </div>
</div>
