<header id="nav-bar">
  <a [routerLink]="['/']" id='nav-name'>Trevor Smith</a>
  <nav id='nav-links'>
    <a [routerLink]="['/bio']" class='nav-link'>Bio</a>
    <a [routerLink]="['/music']" class='nav-link'>Music</a>
    <a [routerLink]="['/code']" class='nav-link'>Code</a>
    <a [routerLink]="['/current']" class='nav-link'>Current Projects</a>
    <!--enable contact component after figuring out how to get netlify forms to work with angular -->
    <!--<a [routerLink]="['/contact']" class='nav-link'>Contact</a>-->
  </nav>
</header>
